<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Login</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script type="text/javascript" src="/js/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
	<script>
		$(document).ready(function() {
			
		});
		
		function loginAction() {
			var userId = $('#userId').val();
			var password = $('#password').val();
			var loginFormAction = $('#loginForm').attr('action');
			
			$.ajax({
				url : loginFormAction,
				data : {
					  'userId' : userId
					, 'password' : password
				},
				type : 'POST',
				success : function (data, textStatus, xhr){
					//console.log(xhr.status);
					//alert(xhr.status);
					$('#resultDiv').html('');
				},
				error: function(jqXHR, textStatus, errorThrown){
				    console.log(textStatus + ' : ' + jqXHR.status + ' ' + errorThrown);
				    
				    var errorMessage = '<p>아이디 혹은 비밀번호가 잘못되었습니다.</p>';
				    $('#resultDiv').html(errorMessage);
				}
			});
		}
	</script>

	<h1>Login Page</h1>
	<div>
		<form id="loginForm" method="post" action="/login/loginForm">
			<span>ID : </span><input type="text" id="userId" name="userId"/>
			<span>PW : </span><input type="text" id="password" name="password"/>
			<button type="button" onclick="loginAction()">LOGIN</button>
			
			<div id="resultDiv"></div>
		</form>
	</div>
</body>
</html>
