<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.member.mapper.MemberMapper">
	
	<insert id="insertMember" parameterType="MemberVo">
		INSERT INTO MEMBER
		(
			  MEMBER_SEQ
			, MEMBER_ID
			, PASSWORD
			, NAME
			, EMAIL
			, PHONE
			, CRE_DT
			, UPD_DT
		)
		VALUES
		(
			  (SELECT IFNULL(MAX(member_seq)+1, 1) FROM MEMBER M)
			, #{memberId}
			, #{password}
			, #{name}
			, #{email}
			, #{phone}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectMemberList" parameterType="MemberVo" resultType="MemberVo">
		SELECT
			  MEMBER_SEQ
			, MEMBER_ID
			, NAME
			, EMAIL
			, PHONE
			, CRE_DT
			, UPD_DT
		FROM MEMBER
	</select>
	
	<select id="selectMemberById" parameterType="Long" resultType="MemberVo">
		SELECT
			  MEMBER_SEQ
			, MEMBER_ID
			, NAME
			, EMAIL
			, PHONE
			, CRE_DT
			, UPD_DT
		FROM MEMBER
		WHERE 1=1
		<if test = ' id != null and id != "" '>
			AND MEMBER_ID = #{id}
		</if>
	</select>
	
	
</mapper>
